@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&family=Shadows+Into+Light&display=swap");

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;

  margin: 0;
}

/* 일기장 컨테이너 스타일 */
.App {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: (249, 250, 251);
}
.Home .Navigate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home {
  background-color: rgba(249, 250, 251);
  padding-top: 100px;
}

.DiaryList {
  margin: 0 auto;
  width: 95%;
  background-color: rgba(249, 250, 251);
  margin-bottom: 20px;
}
/* 일기 리스트 스타일 */
.Navigate {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(5px);
  z-index: 2;
}

.Navigate-items {
  display: flex;
}
.Navigate-header-text {
  margin-left: 20px;
}
.Navigate-header-text span {
  font-size: 40px;
  font-family: "Rowdies";
  font-family: "Rowdies", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
}
.text-t {
  color: #015273;
}
.text-h {
  color: #767676;
}
.text-e {
  color: #00b1ff;
}
.texts {
  color: black;
}

/* 옵션 래퍼 스타일 */
.option_wrapper {
  margin-bottom: 10px;
}

/* 셀렉트 박스 스타일 */
.option_wrapper select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.DiaryList .list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* 일기 아이템 스타일 */
.DiaryItem {
  width: 300px;
  height: 380px;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 80px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255);
}

.category-button {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.DiaryItem:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.DiaryItem:hover .category-button {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.DiaryItem .Thumbnail {
  width: 100%;
  height: 50%;

  border-radius: solid 1px black;
}
.category-button {
  font-size: 30px;
  border-radius: 100%;
}
.category-button:hover {
  background-color: rgb(204, 204, 204, 0.3);
}

.CategoryModal {
  width: 90px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 5px;

  z-index: 1;
}
.CategoryModal .Button-delete {
  border: none;
  width: 100%;
}

.CategoryModal .Button-edit {
  border: none;
  width: 100%;
}
.CategoryModal .Button-delete:hover {
  background-color: #44c279;
}

.CategoryModal .Button-edit:hover {
  background-color: #44c279;
}
/* 일기 날짜 스타일 */
.diaryDate {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* 일기 타입 스타일 */
.diaryType {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* 일기 제목 스타일 */
.diaryTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* 더보기 버튼 스타일 */

/*
.DiaryItem button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}*/

/* 다른 사람 일기 보기 버튼 스타일 */
button:nth-of-type(1) {
  margin-right: 10px;
}

/* 새 일기쓰기 버튼 스타일 */
button:nth-of-type(2) {
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* 일기장 헤더 스타일 */

/*
h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555;
}
*/

/* 일기 타입 이미지 스타일 */
.diaryTypeImg_wrapper {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-bottom: 5px;
}
