@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@700&family=Shadows+Into+Light&display=swap");
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;

  margin: 0;
}

/* 일기장 컨테이너 스타일 */
.App {
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: (249, 250, 251);
}
.Home .Navigate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home {
  background-color: rgba(249, 250, 251);
  padding-top: 120px;
}

.Home .boxboxbox {
  float: inline-end;
  width: 100%;
  height: 100vh;
  background-color: red;
  z-index: 9999;
}
.DiaryList {
  margin: 0 auto;
  width: 95%;
  background-color: rgba(249, 250, 251);
  margin-bottom: 20px;
}
/* 일기 리스트 스타일 */
.Navigate {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.5);

  background-color: rgb(84, 83, 197, 0.9);
  background-color: rgba(231, 229, 235, 0.5);

  backdrop-filter: blur(2px);
  z-index: 2;
}

.Navigate-items {
  display: flex;
  width: 400px;
  margin-right: 40px;
  justify-content: space-around;
}
.Navigate-header-text {
  margin-left: 20px;
}
.Navigate-header-text span {
  font-size: 40px;
  font-family: "Rowdies";
  font-family: "Rowdies", cursive;
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
}
.text-t {
  color: #015273;
}
.text-h {
  color: #767676;
}
.text-e {
  color: #00b1ff;
}
.texts {
  color: black;
}

.Navigate-items .Button-create-diaryItem {
  width: 120px;

  font-size: 30px;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
  border-radius: 12px;
  border: none;
}
.Navigate-items .Button-create-diaryItem:hover {
  cursor: pointer;
  color: #00b1ff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.Navigate-items .Button-show-other {
  width: 120px;

  font-size: 30px;
  font-weight: 700;
  font-family: "Shadows Into Light", cursive;
  border-radius: 12px;
  border: none;
}
.Navigate-items .Button-show-other:hover {
  cursor: pointer;
  color: #015273;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.Profile {
  display: flex;
}
.Profile .profile-img {
}
.Profile .profile-img .basic-profile-image {
  width: 50px;
  height: 50px;
  font-weight: 400;
  border-radius: 50%;
}
/* 옵션 래퍼 스타일 */
.option_wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 23px;
}

/* 셀렉트 박스 스타일 */
.option_wrapper select {
  outline: none;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.option_wrapper .optionMenu-filter-type {
  margin-left: 20px;
  width: 80px;
}

.DiaryList .list_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.DiaryList .list_wrapper {
  /*
  border: 1px solid red;
  width: auto;
  display: flex;
  flex-wrap: wrap;
*/

  /*
  display: flex;
  border: 1px solid red;
  width: auto;

  flex-wrap: wrap;
  box-sizing: inherit;*/

  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
}

/* 일기 아이템 스타일 */
.DiaryItem {
  width: 28rem;
  height: 38rem;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
  margin-bottom: 8rem;
  border: none;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.category-button {
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.DiaryItem:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.DiaryItem:hover .category-button {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.DiaryItem .Thumbnail {
  width: 100%;
  height: 50%;

  border-radius: solid 1px black;
}
.DiaryItem .Thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: solid 1px black;
}

.DiaryItem .diaryType {
  font-size: 20px;
}
.category-button {
  font-size: 30px;
  border-radius: 100%;
}
.category-button:hover {
  background-color: rgb(204, 204, 204, 0.3);
}

.CategoryModal {
  width: 90px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 5px;

  z-index: 1;
}
.CategoryModal .Button-delete {
  border: none;
  width: 100%;
}

.CategoryModal .Button-edit {
  border: none;
  width: 100%;
}
.CategoryModal .Button-delete:hover {
  background-color: #44c279;
}

.CategoryModal .Button-edit:hover {
  background-color: #44c279;
}
/* 일기 날짜 스타일 */
.diaryDate {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* 일기 타입 스타일 */
.diaryType {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

/* 일기 제목 스타일 */
.diaryTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* 더보기 버튼 스타일 */

/*
.DiaryItem button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}*/

/* 일기장 헤더 스타일 */

/*
h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555;
}
*/

/* 일기 타입 이미지 스타일 */
.diaryTypeImg_wrapper {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin-bottom: 5px;
}

.AddItem {
  display: flex;
}

.AddItem .title-img-wrapper {
  width: 40%;
}
.AddItem .type-content-wrapper {
  margin-top: 40px;
  width: 70%;
}
.AddItem section {
  padding-left: 50px;
}

.AddItem .section-title .input-title {
  font-size: 50px;
  font-weight: 600;
  border: none;
  outline: none;
  width: 600px;
  height: 150px;
}

.AddItem .section-title .input-title::placeholder {
  color: #858e96;
  font-size: 50px;
  font-weight: 600;
}
.AddItem .section-img {
  display: flex;
  flex-direction: column;
}
.AddItem .section-img .input-img {
  visibility: hidden;
}
.AddItem .section-img .setImg-button {
  width: 120px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  color: #858e96;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.AddItem .section-img .setImg-button:hover {
  cursor: pointer;
  background-color: #858e96;
  color: white;
}
.AddItem .section-img .removeImg-button {
  width: 120px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  color: #858e96;
  background-color: white;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.AddItem .section-img .removeImg-button:hover {
  cursor: pointer;
  background-color: #858e96;
  color: white;
}

.AddItem .section-img img {
  width: 500px;
  height: 250px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.AddItem .section-img .fake-div {
  width: 100%;
  height: 250px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.AddItem .section-type div {
  font-size: 30px;
  font-weight: 700;
  color: #858e96;
  margin-top: 20px;
  margin-bottom: 20px;
}

.AddItem .section-type .option-type {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.AddItem .section-content {
  padding-left: 30px;
}
.AddItem .section-content div {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #858e96;
  margin-left: 20px;
}
.AddItem textarea {
  width: 70%;
  height: 70vh;
  font-size: 25px;
  border: none;
  outline: none;

  padding-left: 20px;
  padding-right: 20px;
}

.AddItem textarea::placeholder {
  color: #858e96;
}

.ItemPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemPage .DiaryItem {
  width: 700px;
  height: auto;
}

.ItemPage .Thumbnail {
  width: 700px;
  height: 400px;
}
.ItemPage .Thumbnail img {
  width: 100%;
  height: 100%;
}

.ItemPage .diaryDate {
  margin-top: 20px;
  font-size: 28px;
}

.ItemPage .diaryType {
  margin-top: 20px;
  font-size: 30px;
}

.ItemPage .diaryTitle {
  font-size: 35px;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.ItemPage .diaryContent {
  font-size: 20px;
  padding: 20px;
  line-height: 1.8;
}

.ItemPage .DiaryItem:hover {
  cursor: pointer;
  transform: scale(1);
}
